<div class="cartbox">
  <i class="fa fa-shopping-cart"></i>
  <span class="item-number-text">{{length}}</span>
  <i class="fa fa-sort"></i>
  <button class="drop-footer"></button>
</div>
<div class="shopping-cart-item-box">
    <h1>{{subtotal}}</h1>
</div>
