<section class="checkout-content">
  <header class="indexheader">
  </header>
  <div class="checkout-item-container">
  </div>
  <footer class="shopping-cart">
    <div class="shopping-cart-item-box">
      <div class="subtotal-box">
        <span class="subtotal-text">Subtotal:</span>
        <span class="cart-subtotal">$ {{subtotal}}</span>
      </div>
    </div>
  </footer>
</section>
