<header class="indexheader">
  <h2 class="nav about">About Us</h2>
  <a href="#/distillery"><h2 class="nav distillery">Distillery</h2></a>
  <h2 class="nav inn">Inn</h2>
  <button class="nav login">Log In</button>
  <div class="log-in-container">
    <form class="log-in-form">
      <input type="text" class="username-input" placeholder="username">
      <input type="password" class="password-input" placeholder="password">
      <input type="submit" value="Log In" class="log-in-button">
      <button class="new-user-button">Are you new?</button>
    </form>
    <form class="new-user-form">
      <input type="text" class="new-user-username-input" placeholder="New Username">
      <input type="text" class="new-user-password-input" placeholder="Password">
      <input type="text" class="new-user-phone-number" placeholder="Phone Number">
      <input type="text" class="new-user-email-address" placeholder="Email Address">
      <input type="submit" class="new-user-submit">
    </form>
  </div>
</header>

<section class="indexcontent">

</section>
