<header class="indexheader">
  <h2 class="nav about">About Us</h2>
  <a href="#/distillery"><h2 class="nav distillery">Distillery</h2></a>
  <h2 class="nav inn">Inn</h2>
  <h2 class="nav contact">Contact Us</h2>
</header>

<section class="indexcontent">

</section>
