<header class="indexheader">
  <h2 class="nav about">About Us</h2>
  <a href="#/distillery"><h2 class="nav distillery">Distillery</h2></a>
  <h2 class="nav inn">Inn</h2>
  <h2 class="nav user">{{user.username}}</h2>
</header>
<section class="distillery-content">
  <div class="distillery-header-background"></div>
  <div class="distillery-header-background-two"></div>
  <img src="./assets/logoandname.gif" class="distillery-logo-bg">
  <ul class="list-container"></ul>
  <footer class="shopping-cart"></footer>
</section>
